/* General CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

nav ul {
    list-style-type: none;
    margin-top: 1rem;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4f4f4;
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.about, .portfolio, .contact {
    margin: 2rem 0;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #333;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #555;
}

/* Portfolio Section */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.portfolio-item {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.portfolio-item h3 {
    color: #333;
    font-size: 1.5rem;
}

/* Contact Section */
.contact {
    text-align: center;
}

.contact p {
    font-size: 1rem;
    color: #555;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer a img {
    transition: transform 0.3s ease;
}

footer a img:hover {
    transform: scale(1.1);
}


footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #f4f4f4;
}

footer p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
}
